@media screen and (max-width: 1414px) {
  .banner-bawah {
    margin-top: -500px;
  }

  .button-shop-tiga {
    margin-top: -400px;
  }

  .sosmed {
    margin-top: -70px;
  }

  .footer-container {
    margin-top: 0;
  }
}

@media screen and (max-width: 1330px) {
  nav ul:first-of-type .s5 {
    display: none;
  }

  .more {
    display: inline;
  }

  .hover-content {
    display: flex;
  }

  .more input {
    display: inline;
  }

  .drop-menu .b4 {
    display: inline;
  }

  .search-box .tutup .desktop-box {
    order: 2;
    margin-right: 175px;
  }

  .banner-bawah {
    margin-left: 70px;
    margin-top: -530px;
  }

  .button-shop-tiga {
    margin-top: -500px;
  }

  .sosmed {
    margin-top: -120px;
  }

  .footer-container {
    margin-top: -50px;
  }
}

@media screen and (max-width: 1219px) {
  nav ul:first-of-type .s4 {
    display: none;
  }

  .drop-menu .b3 {
    display: inline;
  }

  .search-box .tutup .desktop-box {
    margin-right: 173px;
    margin-top: -110px;
  }

  .button-shop-tiga {
    margin-top: -530px;
  }

  .sosmed {
    margin-top: -130px;
  }
}

@media screen and (max-width: 1179px) {
  nav ul:first-of-type .s3 {
    display: none;
  }

  .drop-menu .b2 {
    display: inline;
  }

  .banner-bawah {
    margin-left: 55px;
    margin-top: -570px;
  }

  .search-box .tutup .desktop-box {
    order: 2;
    margin-right: 175px;
  }

  .button-shop-tiga {
    margin-top: -230px;
  }

  .sosmed {
    margin-top: 50px;
    width: 18vw;
  }

  .footer-container {
    margin-top: 120px;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    width: 100%;
  }

  nav .ul-dua {
    margin-right: 21px;
  }

  .banner {
    width: 100%;
  }

  .allms input {
    right: 220px;
    top: -120px;
    width: 120px;
    height: 120px;
  }

  .search-box .tutup span input {
    margin-left: 20px;
    width: 85%;
  }

  .search-box .tutup .desktop-box {
    margin-right: 150px;
  }

  .top-download-text {
    margin-left: 0;
  }

  .list-topdownload {
    margin: 178px auto;
  }
  .banner-bawah {
    margin-left: 0px;
    margin-top: -600px;
  }

  .sosmed {
    width: 20vw;
  }

  .footer-container ul {
    padding: 50px;
  }
}

@media screen and (max-width: 1061px) {
  .banner-bawah {
    margin-top: -300px;
  }
}

@media screen and (max-width: 1005px) {
  .search-box .tutup .desktop-box {
    margin-right: 160px;
  }

  .footer-last span {
    width: 80%;
  }
}

@media screen and (max-width: 950px) {
  nav:first-of-type .s2 {
    display: none;
  }

  .drop-menu .b1 {
    display: inline;
  }

  .banner-bawah .banner-content {
    margin-left: 80px;
  }

  .search-box .tutup .desktop-box {
    margin-right: 170px;
  }

  .sosmed {
    margin-top: 50px;
    width: 22vw;
  }

  .footer-last span {
    width: 90%;
  }
}

@media screen and (max-width: 917px) {
  .search-box .tutup span input {
    margin-left: -0px;
    width: 85%;
  }

  .footer-last .world {
    text-indent: -999px;
  }

  .footer-last span {
    width: 100%;
  }
}

@media screen and (max-width: 880px) {
  .logo {
    margin: 0 42.5%;
    width: 100vw;
  }

  .ul-satu {
    display: none;
  }

  nav ul li .search-img {
    display: block;
    position: absolute;
    top: 0;
    left: -440px;
  }

  nav .border {
    display: none;
  }

  .burger-logo {
    display: inline;
  }

  nav .ul-dua .arrow {
    display: none;
  }

  nav .ul-dua .search {
    display: none;
  }

  nav .ul-dua .cart a {
    margin-left: -37px;
  }
  nav .border {
    display: none;
  }

  .logo-container {
    display: flex;
    width: 85%;
    align-content: center;
    justify-content: center;
  }

  .anak span input {
    display: block;
  }

  .mobile-box {
    display: inline;
  }

  .anak {
    display: block;
  }

  .button-download-mobile p {
    display: flex;
  }

  .button-download-mobile input {
    display: flex;
  }

  .allms {
    display: none;
  }

  .search-box {
    display: none;
  }

  .ul-dua {
    z-index: 999;
  }

  .banner-content {
    margin-top: -260px;
  }

  .banner-content p:first-child {
    margin-top: 70px;
    font-size: 1.4em;
  }

  .banner-content p:nth-child(2) {
    margin-top: 105px;
    font-size: 0.7em;
  }

  .banner-content input {
    margin-top: 125px;
    width: 90px;
    height: 35px;
  }

  .banner-content-atas {
    display: none;
  }

  .button-shop {
    display: block;
  }

  .banner-atas .hilang {
    height: 390px;
    width: 1220px;
    margin-left: -300px;
    /* display: none; */
  }

  .top-download-text {
    margin-top: 20px;
  }

  .list-topdownload {
    margin-top: 200px;
  }

  .tab {
    display: block;
  }

  .button-shop {
    display: flex;
  }

  .banner-bawah {
    margin-top: -20px;
  }

  .banner-bawah img {
    margin-top: 20p;
  }
  .button-shop .bungkus-satu {
    margin-top: -170px;
  }

  .top-download-text {
    top: 580px;
  }

  .list-topdownload {
    margin-top: -10px;
  }

  .button-shop-dua {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    display: flex;
  }

  .button-shop-dua .bungkus-dua {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button-shop-dua .bungkus-dua > * {
    margin-bottom: 20px;
  }

  .button-shop-dua .bungkus-dua p:last-child {
    margin-bottom: 0;
    display: none;
  }

  .button-shop-dua .bungkus-dua .p-bawah {
    margin-bottom: 7px;
    font-size: 1.2em;
    text-align: center;
  }

  .button-shop-dua .bungkus-dua .p-atas {
    font-size: 2.2em;
  }

  .button-shop-dua .bungkus-dua input {
    width: 130px;
    height: 45px;
    border-color: black;
    border: 2px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: 600;
  }

  .button-shop-tiga {
    display: none;
  }

  .sosmed {
    margin-top: 650px;
    width: 27vw;
    margin-left: 35px;
  }

  .footer-container {
    margin-top: 725px;
  }

  .footer-container ul {
    padding: 20px;
  }

  .footer-last span {
    background-color: hotpink;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 708px) {
  .banner-bawah {
    margin-top: 1030px;
  }

  .banner-bawah img {
    margin-top: 20px;
  }

  .sosmed {
    margin-top: 1720px;
    width: 37vw;
    margin-left: 20px;
  }

  .footer-container {
    top: 1000px;
    z-index: 999999;
  }

  .footer-last {
    bottom: -100px;
  }

  .footer-last span a {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 50px;
    margin-top: 800px;
  }

  .footer-last {
    height: 100px;
    top: 1300px;
  }
}

@media screen and (max-width: 547px) {
  .banner-content-atas {
    margin-top: -200px;
  }

  .banner-atas .hilang {
    margin-left: -500px;
  }

  .ul-dua .user a p {
    display: none;
  }

  .ul-dua .cart a p {
    display: none;
  }

  .sosmed {
    margin-top: 1720px;
    width: 40vw;
    margin-left: 20px;
  }

  .footer-last {
    top: 1345px;
  }
}

@media screen and (max-width: 405px) {
  .top-download-text {
    font-size: 1.7em;
  }

  .banner-content-bawah {
    font-size: 0.8em;
    top: 160px;
  }

  .banner-content-bawah p {
    margin-left: -40px;
  }

  .banner-content-bawah input {
    margin-left: -40px;
  }

  .banner-content-atas {
    margin-top: -180px;
  }

  .sosmed {
    margin-top: 1720px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 584px) {
  .banner-content-bawah {
    left: -20px;
    top: 180px;
  }
}

@media screen and (max-width: 488px) {
  .banner-content-bawah {
    top: 160px;
  }

  .sosmed {
    margin-top: 1720px;
    width: 48vw;
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  .footer-last {
    top: 1340px;
  }

  .footer-container ul {
    list-style: none;
    width: 200px;
  }

  .footer-last {
    top: 2605px;
  }
}
