* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.container {
  margin: auto;
  min-height: 100vh;
  background: #ffffff;
  padding: 20px 50px;
}

.input-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 77, 0, 0.97);
  border-radius: 40px;
}

.title {
  margin-left: 20px;
  font-size: 50px;
  color: rgba(255, 77, 0, 0.97);
}

.text-input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 20px 40px;
  border-radius: 10px;
  width: 100%;
  color: rgb(10, 10, 10);
}

.button-submit {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 200px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
  border-left: 1px solid black;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(5, 5, 5);
}

.button-submit:hover {
  color: rgba(255, 60, 0, 0.95);
}

.button-submit:active {
  opacity: 0.6;
}

.content-container {
  padding-top: 40px;
}

.content-container h3 {
  color: rgba(255, 77, 0, 0.97);

  margin-left: 20px;
  font-size: 30px;
}

.task {
  display: flex;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 0 20px;
  margin-left: 20px;
  background-color: rgba(50, 50, 50, 0.548);
}

.task .task-text {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
  width: 100%;
  color: rgb(255, 255, 255);
}

.task button {
  font-size: 15px;
  color: rgba(248, 248, 248, 0.97);
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  padding: 20px;
  background-color: transparent;
}

.task button:hover {
  opacity: 0.8;
}

.task button:active {
  opacity: 0.6;
}

.box-container {
  padding: 10px;
  margin-top: 15px;
  min-width: 36px;
  max-width: 36px;
  height: 36px;
  background: rgba(255, 77, 0, 0.97);

  display: inline-block;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}

.stik1 {
  width: 23px;
  height: 6px;
  background: rgb(253, 253, 253);
  /* display: inline-block; */
  position: absolute;
  top: 13px;
  left: 12px;
  transform: rotate(-50deg);
  border-radius: 20px;
}
.stik2 {
  width: 17px;
  height: 6px;
  background: rgb(253, 253, 253);
  /* display: inline-block; */
  position: absolute;
  top: 16px;
  left: 3px;
  transform: rotate(-150deg);
  border-radius: 20px;
}

.coret {
  text-decoration: line-through;
  color: #ffffff3c !important;
}

.hilang {
  display: none;
  transition: 1s;
}

.rubahWarna {
  background-color: #f359006b;
}
@media screen and (max-width: 600px) {
  .container {
    padding: 20px 5px;
  }
}
